<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mildProject.mapper.MildMapper"> 
    <select id="selectMildList" resultType="com.example.mildProject.domain.MildListDto">
        <![CDATA[
            SELECT 
                 music_num 
                ,category_num 
                ,munsic_genre 
  	            ,music_title 
                ,munsic_titleImg 
                ,music_artist  
                ,music_album 
                ,music_rank 
                ,music_like 
                ,music_delete_yn 
                ,regdate_time 
                ,moddate_time 
            FROM mild.MUSIC_LIST
        ]]>
    
    </select>
</mapper>